/* Fuente general */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #fafafa;
    color: #333;
}

/* Header */
.header {
    background: #0a3d62;
    color: white;
    padding: 18px 30px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.fondochingon{
    background-color: #14181C;
}

/* Contenedor principal */
.ctner {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    gap: 35px;
}

/* Título principal */
.news-title {
    font-size: 43px;
    margin-bottom: 10px;
    color: #e6edf3;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 6px;
    line-height: 1.2;
    font-weight: 700;
    border-left: 6px solid #0a3d62;
    padding-left: 15px;
}

/* Metadatos */
.meta {
    color: #9aa4af;
    text-shadow: rgba(68, 123, 129, 0.5) 0px 0px 2px, rgba(50, 86, 90, 0.5) 0px 0px 2px;
    margin-bottom: 25px;
    font-size: 15px;
    display: flex;
    gap: 25px;
    font-weight: 500;
}

/* Imagen principal */
.main-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 2px 14px rgba(0,0,0,0.15);
}

.main-image figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: #9aa4af;
    text-shadow: rgba(68, 123, 129, 0.5) 0px 0px 2px, rgba(50, 86, 90, 0.5) 0px 0px 2px;
    font-style: italic;
}

/* Galería */
.gallery {
    margin: 30px 0;
}

.gallery h3 {
    font-size: 22px;
    color: rgb(234, 242, 248);
    text-shadow: rgba(79, 203, 255, 0.12) 0px 0px 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 12px;
}

.gallery-grid img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.25s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Contenido */
.content {
    font-size: 18px;
    line-height: 1.9;
    margin-top: 10px;
    color: #232323;
}

.content p {
    margin-bottom: 22px;
    color: rgb(154, 164, 175);
}

/* Publicidad */
.ad {
    background: #20262D;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #333;
    margin: 30px 0;
    font-size: 14px;
    font-weight: 600;
    border: 1px dashed rgba(0,0,0,0.25);
}

.ad-side{
    height: 300px;
}

/* Sección tweet */
.tweet-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Noticias recomendadas */
.recommended {
    background: #1A1F25;
    padding: 20px;
    border-radius: 15px;
    height: max-content;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.recommended h2 {
    margin-bottom: 20px;
    border-left: 6px solid #ff5722;
    padding-left: 12px;
    font-size: 22px;
    color: #eaf2f8;
    text-shadow: rgba(79, 203, 255, 0.25) 0px 0px 10px;
}

/* Card recomendada */
.rec-item {
    display: flex;
    gap: 15px;
    margin-bottom: 22px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
}

.rec-item:hover {
    background: #f5f5f5;
}

.rec-item img {
    width: 130px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.rec-item h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    color: #A5F3FC;
    text-shadow: 0 0 2px rgba(165, 243, 252, 0.4), 0 0 2px rgba(165, 243, 252, 0.4);
}

.rec-item p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #9aa4af;
}

.rec-item:hover h4 {
    color: #0a3d62;
}

.rec-item:hover p{
    color: #000;
}

/* Footer */
.footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    background: #111;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

/* Responsive */
@media (max-width: 980px) {
    .ctner {
        grid-template-columns: 1fr;
    }

    .news-title {
        font-size: 33px;
    }

    .recommended {
        order: -1;
    }
}
